<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340095753834-r7p2hh5mnirdrvigdv31limdbqfa5gvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340095753834-r7p2hh5mnirdrvigdv31limdbqfa5gvr</string>
	<key>API_KEY</key>
	<string>AIzaSyA_1ouWeD_TusnZJ7Uiu6Uzz5oFFUhOj7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>340095753834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleMaps</string>
	<key>PROJECT_ID</key>
	<string>maps-6041d</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-6041d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340095753834:ios:b3f0ea79f9c5caf10f7413</string>
</dict>
</plist>